[submodule "typings/DefinitelyTyped"]
	path = typings/DefinitelyTyped
	url = https://github.com/robertknight/DefinitelyTyped
[submodule "vendor/addon-sdk"]
	path = vendor/firefox-addon-sdk
	url = https://github.com/mozilla/addon-sdk.git
