{
  "manifest_version": 2,
  "name": "Passcards",
  "description": "1Password-compatible Password Manager",
  "version": "{{ version }}",
  "homepage_url": "https://robertknight.github.io/passcards",

  {{#firefox}}
  "applications": {
    "gecko": {
      "id": "passcards@robertknight.github.io",
      "update_url": "https://s3.amazonaws.com/io.github.robertknight/passcards/builds/latest/passcards.update.json"
    }
  },
  {{/firefox}}

  "permissions": [
    "activeTab",
    "storage",
    "tabs",
    "https://*.dropbox.com/",
    "https://passcards-robknight.rhcloud.com/"
  ],

  "browser_action": {
    "default_icon": "data/dist/icons/app/chrome/chrome_toolbar-icon_38.png",
    "default_popup": "data/panel.html"
  },
  "commands" : {
	"_execute_browser_action" : {
	  "suggested_key" : {
	    "default" : "Alt+Shift+P"
	  }
	}
  },
  "icons": {
	"48": "data/dist/icons/app/icon48.png",
	"128": "data/dist/icons/app/icon128.png"
  },
  "web_accessible_resources": [
    "data/auth.html"
  ],
  "background": {
    "page": "data/background.html"
  },
  "key": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAycUdcf9EE2q41p4wbf6T1EWqs7XJLprlwAmDWMXbIyuc6HA9zkrxZIAteEcmDMZVtaINRxtMrBSFDM03NMIIhc2UwYlzl1juQUokQFcApEAnRlmTTGHvJjxaNHkQBbzPgsIRDsSOwaX9dX7qEJufiPLSwL0ykWCYHdOiq2RtOsThx/i+0xwq2QRBywokCL9DcHEU4fw4/0jKPFYSG7FCdTGpcxQsNA/hltOA5PlmKvvo4UKfkdFATDdIqclAPL8ZNmBN8oTt7gCDEQZF2WYbM6Lt+69309zvwcqsa5Xg1ALMEE6lg7kiADoayeVFoF/eghMdLgbaR0+neN7xTqMHawIDAQAB"
}
