body {
	font-family: 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial';
	margin:0px;
}

.appView {
	width: 100%;
}

.unlockPane {
	background-color: #0099CC;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1;
}

.unlockPaneInputs {
	border: 1px solid rgba(255,255,255,0.7);
	border-radius: 5px;
	background-color: rgba(255,255,255,0.5);

	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 300px;
	height: 40px;

	padding: 50px;

	display:flex;
	-webkit-display:flex;
}

.masterPassField {
	padding: 5px;
}

.itemListView {
	display: flex;
	display: -webkit-flex;

	flex-direction: column;
	-webkit-flex-direction: column;
}

.searchField {
	background-color: rgba(200,200,200,0.8);
	width: 100%;
	position: fixed;
	padding-top: 5px;
	padding-bottom: 5px;

	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: center;
	-webkit-justify-content: center;
}

.searchFieldInput {
	height: 40px;
}

.itemList {
	margin-top: 45px;
}

.itemOverview {
	display: flex;
	display: -webkit-flex;

	flex-direction: row;
	-webkit-flex-direction: row;

	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.itemOverview:hover {
	background-color: #eeeeee;
}

.itemIcon {
	width: 48px;
	height: 48px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.itemDetails {
	padding: 5px;
	margin: 5px;
}

.itemTitle {
	font-size: 14px;
}

.itemAccount {
	font-size: 12px;
	color: #bbbbbb;
}

.itemLocation {
	color: #666666;
}

.detailsView {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.detailsTitle {
	font-size: 16px;
}

