.itemOverview {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.itemOverview:hover {
	background-color: #eeeeee;
}

.itemIcon {
	width: 48px;
	height: 48px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}

.itemDetails {
	padding: 5px;
	margin: 5px;
}

.itemTitle {
	font-family: arial;
	font-size: 14px;
}

.itemAccount {
	font-size: 12px;
	color: #bbbbbb;
}

