/* constants */

/* see http://www.google.com/design/spec/style/typography.html */
@material-text-alpha: 0.87;
@material-caption-alpha: 0.54;
@material-text-color: rgba(0,0,0,@material-text-alpha);
@material-caption-color: rgba(0,0,0,@material-caption-alpha);

@material-color-header: #fff;
@material-color-primary: #e91e63;
@material-color-accent1: #fce4ec;
@material-color-accent2: #f48fb1;
@material-color-accent3: #f06292;

/* mixins */
.flex-cross-center {
	align-items: center;
}

.flex-axis-center {
	justify-content: center;
}

.flex-center {
	.flex-axis-center;
	.flex-cross-center;
}

.flex-stretch {
	flex-grow: 1;
}

.touch-scrolling {
	overflow: auto;
	overflow-scrolling: auto;
	-webkit-overflow-scrolling: touch;
}

.border-box {
	box-sizing:border-box;
}

/* mixins - material */
.material-header {
	background-color: @material-color-primary;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
	color: #fff;
	font-weight: 400;
}

.material-button-raised {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	border:0px;
	background-color: @material-color-primary;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
	color: #fff;
	font-weight: 400;
}

.material-input-placeholder {
	color: #fff;
	opacity: 0.8;
}

/* app style */
html, body {
	font-family: 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial';
	margin:0px;
	height: 100%;
	color: @material-text-color;
}

.setupView {
	width: 100%;
	height: 100%;
	background-color: @material-color-primary;
	color: white;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	.flex-center;
}

#app-view {
	height: 100%;
}

.appView {
	width: 100%;
	height: 100%;
}

.unlockPane {
	background-color: @material-color-primary;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1;
}

.unlockPaneForm {
	background-color: @material-color-accent3;

	margin-top: 50px;
	width: 100%;
	height: 40px;

	padding-top: 50px;
	padding-bottom: 50px;
}

.unlockPaneInputs {
	display: flex;
	flex-direction: column;
	.flex-axis-center;
	
	width: 50%;
	min-width: 200px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.unlockLabel {
	width: 100%;
	margin-top: 5px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.masterPassField {
	padding: 5px;
	border:1px solid #fff;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 400;
	color: @material-color-header;
	background-color: @material-color-accent3;
	outline: none;
}

.masterPassField::-webkit-input-placeholder {
	.material-input-placeholder;
}

.itemListView {
	display: flex;
	flex-direction: column;

	height:100%;
}

.toolbar {
	.material-header;

	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #bbbbbb;
	height: 30px;
}

.itemListToolbar {
	width: 100%;
	position: fixed;

	display: flex;
	flex-direction: row;
	.flex-cross-center;
}

.searchFieldInput {
	.flex-stretch;

	padding-left: 5px;
	margin-left: 20px;
	height: 30px;
	border: 0px;
	color: @material-color-header;
	background-color: @material-color-primary;
	font-size: 22px;
	outline: none;
}

.searchFieldInput::-webkit-input-placeholder {
	.material-input-placeholder;
}

.toolbarSearchIcon {
	margin-left: 20px;
}

.toolbarLockIcon {
	margin-right: 20px;
}

.itemList {
	margin-top: 50px;
	height: 100%;
	background-color: white;
	position: relative;
	
	.touch-scrolling;
}

.itemListFooter {
	position: absolute;
	color: rgba(0,0,0,0);
}

.itemOverview {
	display: flex;
	flex-direction: row;
	.flex-cross-center;

	cursor: pointer;

	padding-left: 5px;
	padding-right: 5px;
	position: absolute;

	/* set width of item to full width of list, including padding */
	.border-box;
	width: 100%;
}

.itemOverview:hover {
	background-color: @material-color-accent1;
}

.itemHovered {
	background-color: @material-color-accent1;
}

.itemIconContainer {
	width: 48px;
	height: 48px;

	background-color: white;

	border: 1px solid #cccccc;
	border-radius: 2px;
}

.itemIcon {
	/* horizontally center icon in outline.
	 * limit to max size of 48x48 but prefer
	 * intrinsic size
	 */
	max-width: 48px;
	max-height: 48px;

	margin-left: auto;
	margin-right: auto;

	/* vertically center icon in outline */
	display: block;
	position: relative;
	top: 50%;

	transform: translateY(-50%);
}

.itemDetails {
	padding: 5px;
	margin-left: 5px;
}

.itemTitle {
	font-size: 14px;
}

.itemAccount {
	font-size: 12px;
	color: #bbbbbb;
}

.itemLocation {
	color: #666666;
}

.detailsView {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: white;
}

.detailsView.hasSelectedItem {
	display: block;
}

.detailsContent {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.detailsToolbar {
	display: flex;
	flex-direction: row;
	.flex-cross-center;

	.material-header;

	height: 30px;
	padding-left: 20px;
}

.detailsToolbar a {
	text-decoration: none;
}

.itemActionBar {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:10px;
}

.itemActionButton {
	.material-button-raised;
}

.itemActionButton:active {
	.material-button-raised;
	background-color:@material-color-accent2;
}

.detailsHeader {
	display: flex;
	flex-direction: row;

	padding-bottom: 5px;
	margin-bottom: 15px;
}

.detailsOverview {
	display: flex;
	flex-direction: column;
	.flex-axis-center;

	margin-left: 10px;
}

.detailsTitle {
	font-size: 16px;
}

.detailsLocation {
	color: #666666;
	text-overflow: ellipsis;
	overflow: hidden;
}

.detailsLocation a {
	text-decoration: none;
}

.detailsField {
	display: flex;
	flex-direction: column;

	padding-left: 20px;
	padding-right: 20px; 
	margin-bottom: 15px;
}

.detailsFieldLabel {
	color:@material-caption-color;
	font-size: 14px;
	order: 2;
}

.detailsFieldValue {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0);
	order: 1;
}

.detailsFieldValue:hover {
	background-color: @material-color-accent1;
	border: 1px solid @material-color-accent2;
	border-radius: 2px;
}

.concealedFieldValue {
	font-family: monospace;
}

.detailsFieldActions {
	display: flex;
	flex-direction: row;
	.flex-axis-center;
	order: 3;
}

.detailsCore {
	padding-top: 5px;
	padding-bottom: 5px;
}

.statusView {
	background-color: rgba(255, 100, 100, 0.8);
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	position: fixed;
	z-index: 10;
	width: 100%;
}

