/* constants */

/* see http://www.google.com/design/spec/style/typography.html */
@material-text-alpha: 0.87;
@material-caption-alpha: 0.54;
@material-text-color: rgba(0,0,0,@material-text-alpha);
@material-caption-color: rgba(0,0,0,@material-caption-alpha);

@material-color-header: #fff;
@material-color-primary: #e91e63;
@material-color-accent1: #fce4ec;
@material-color-accent2: #f48fb1;
@material-color-accent3: #f06292;

/* mixins */
.flex-cross-center {
	align-items: center;
}

.flex-axis-center {
	justify-content: center;
}

.flex-center {
	.flex-axis-center;
	.flex-cross-center;
}

.flex-stretch {
	flex-grow: 1;
}

.disable-tap-highlight {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* mixins - material */
.material-header {
	background-color: @material-color-primary;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
	color: #fff;
	font-weight: 400;
}

.material-input-placeholder {
	color: #fff;
	opacity: 0.8;
}

/* app style */
html, body {
	.disable-tap-highlight;

	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial';
	margin:0px;
	height: 100%;
	color: @material-text-color;
}

body {
	overflow: hidden;
}

.setupView {
	width: 100%;
	height: 100%;
	background-color: @material-color-primary;
	color: white;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	.flex-center;
}

#app-view {
	height: 100%;
}

.appView {
	width: 100%;
	height: 100%;
}

.toolbar {
	.material-header;

	border-bottom: 1px solid #bbbbbb;
	padding-right: 20px;
	height: 40px;
}

.toolbarSpacer {
	flex-grow: 1;
}

.toolbarIconGroup {
	margin-left: 10px;
	margin-right: 10px;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	height: 100%;
}

.itemListToolbar {
	width: 100%;
	position: fixed;

	display: flex;
	flex-direction: row;
	.flex-cross-center;
}

.searchFieldInput {
	.flex-stretch;

	padding-left: 5px;
	margin-left: 20px;
	height: 30px;
	border: 0px;
	color: @material-color-header;
	background-color: @material-color-primary;
	font-size: 20px;
	outline: none;

	/* enable the search field to shrink
	   when the width of the toolbar is collapsed
	   in Firefox
	*/
	overflow: hidden;
}

.searchFieldInput::-webkit-input-placeholder {
	.material-input-placeholder;
}

.toolbarSearchIcon {
	margin-left: 20px;
	flex-shrink: 0;
	flex-grow: 0;
}

.itemIconContainer {
	width: 48px;
	height: 48px;

	background-color: white;

	border: 1px solid #bbb;

	/* make icon circular */
	border-radius: 50%;
	overflow: hidden;
}

.itemIconContainer.focused {
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.itemIcon {
	/* horizontally center icon in outline.
	 * limit to max size of 48x48 but prefer
	 * intrinsic size
	 */
	max-width: 48px;
	max-height: 48px;

	margin-left: auto;
	margin-right: auto;

	/* vertically center icon in outline */
	display: block;
	position: relative;
	top: 50%;

	transform: translateY(-50%);

	/* make image circular. Even if the image is too small
	 * to fill the circular container, it looks better if
	 * the image and the container have the same shape.
	 */
	border-radius: 50%;
}

.detailsView {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: white;

	display: flex;
	flex-direction: column;
}

.detailsContent {
	padding-left: 16px;
	flex-grow: 1;
	overflow-y: auto;
}

.detailsToolbar {
	display: flex;
	flex-direction: row;
	.flex-cross-center;

	.material-header;

	padding-left: 20px;
}

.detailsToolbar a {
	text-decoration: none;
}

.itemActionBar {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:10px;
}

.detailsHeader {
	display: flex;
	flex-direction: row;

	padding-bottom: 5px;
	margin-bottom: 15px;
}

.detailsOverview {
	display: flex;
	flex-direction: column;
	.flex-axis-center;

	margin-left: 10px;
}

.detailsTitle {
	font-size: 16px;
}

.detailsLocation {
	color: #666666;
	text-overflow: ellipsis;
	overflow: hidden;
}

.detailsLocation a {
	text-decoration: none;
}

.detailsField {
	display: flex;
	flex-direction: column;

	padding-left: 20px;
	padding-right: 20px; 
}

.detailsFieldLabel {
	color:@material-caption-color;
	font-size: 14px;
	order: 2;
}

.detailsFieldValue {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0);
	order: 1;
}

.detailsFieldValue:hover {
	background-color: @material-color-accent1;
	border: 1px solid @material-color-accent2;
	border-radius: 2px;
}

.concealedFieldValue {
	font-family: monospace;
}

.detailsFieldActions {
	display: flex;
	flex-direction: row;
	.flex-axis-center;
	order: 3;
}

.detailsCore {
	padding-top: 5px;
	padding-bottom: 5px;
}

.statusView {
	background-color: rgba(255, 100, 100, 0.8);
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	position: fixed;
	z-index: 10;
	width: 100%;
}

/* Notification toaster component */
.toaster {
	font-size: 12px;

	position: fixed;	
	z-index: 10;
	bottom: 5px;
	background-color: rgba(0,0,0,0.85);
	color: white;
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;

	left: 50%;
	transform: translate(-50%);
}

.toaster > * {
	margin-left: 2px;
	margin-right: 2px;
}

.toasterProgress {
	border: 1px solid white;
	border-radius: 5px;
	height: 4px;
}

.toasterProgressMeter {
	background-color: white;
	border-radius: 5px;
	height: 4px;
}

/* ReactCSSTransitionGroup animation classes */
.slide-from-left-enter {
	transform: translateX(100%);
}

.slide-from-left-enter.slide-from-left-enter-active {
	transform: translateX(0px);
	transition: transform .3s ease-out;
	border-left: 1px solid @material-color-accent3;
}

.slide-from-left-leave {
	transform: translateX(0px);
	transition: transform .3s ease-out;
}

.slide-from-left-leave.slide-from-left-leave-active {
	transform: translateX(100%);
	border-left: 1px solid @material-color-accent3;
}

.slide-from-top-enter {
	transform: translateY(-100%);
}

.slide-from-top-enter.slide-from-top-enter-active {
	transform: translateY(0px);
	transition: transform .3s ease-out;
}

.slide-from-top-leave {
	transform: translateY(0px);
	transition: transform .3s ease-out;
}

.slide-from-top-leave.slide-from-top-leave-active {
	transform: translateY(-100%);
}

.slide-from-bottom-enter {
	transform: translateY(100%);
}

.slide-from-bottom-enter.slide-from-bottom-enter-active {
	transform: translateY(0px);
	transition: transform .3s ease-out;
}

.slide-from-bottom-leave {
	transform: translateY(0px);
	transition: transform .3s ease-out;
}

.slide-from-bottom-leave.slide-from-bottom-leave-active {
	transform: translateY(100%);
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1.0;
	transition: opacity .5s ease-out;
}

.fade-leave {
	opacity: 1.0;
	transition: opacity .5s ease-out;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
}

