/* app style */
html, body {
	/* disable tab highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial';
	margin:0px;
	height: 100%;
	color: rgba(0,0,0,0.87 /* material text alpha */);
}

body {
	overflow: hidden;
}

#app-view {
	height: 100%;
}

